{% extends 'layout.twig' %}


{% block content %}

	<form method="POST" action="/jugar"  >

		<h2>Rellena este captcha para conseguir puntos</h2>
	    {% block captcha %}{% endblock %}

	    <input type="hidden" name="consecutivos" value="{{ consecutivos }}"/>
	    <input type="hidden" name="type" value="recaptcha"/>

	    <span style="display:block;">
	    	<button type="submit" class="btn btn-2 btn-2a">Validar captcha</button>
		</span>
	</form>
    <h2>Captchas rellenados consecutivos: {{ consecutivos }} </h2>

{% endblock %}