{% extends 'jugar.twig' %}

{% block head %}

	<script type="text/javascript">
		$(function(){
			$('#resultado').focus();
		});
	</script>
</head>

{% endblock %}

{% block captcha %}
   <p>¿Cuanto es?</p>
   <p style="font-size:50px;margin:0px"> {{rand1}} + {{rand2}} = <input style="width: 160px;text-align: center;" type="text" id="resultado" name="resultado" placeholder="?"/></p>
{% endblock %}