{% extends 'jugar.twig' %}

{% block head %}

{% endblock %}

{% block captcha %}
   <p>¿Cuanto es?</p>
   <p style="font-size:50px;margin:0px"> 1 + 1 = <input style="width: 60px;text-align: center;" type="text" name="resultado" placeholder="?"/></p>
{% endblock %}