{% extends 'jugar.twig' %}

{% block captcha %}

<div style="width: 300px;margin-left: auto;margin-right: auto;">
	<h1>JUEGO TERMINADO</h1>
	<img src="/assets/img/meme/1.png"/>
</div>

{% endblock %}

{% block submit %}
	<h2>Gracias por participar</h2>
	<p>Podeis ver los ganadores en la sección <a style="color:white;font-weight:bold" href="/info/premios">PREMIOS</a></P>
{% endblock %}

{% block presubmit %}

{% endblock %}
