{% extends 'jugar.twig' %}

{% block captcha %}

<div style="width: 300px;margin-left: auto;margin-right: auto;">
	<h1 style="">¡Capchas deshabilitados!</h1>
	<img style="width: 238px;" src="/assets/img/meme/1.png"/>
</div>

{% endblock %}

{% block submit %}
	<h2>Gracias por participar</h2>
	<p>Usa las vitaminas que has obtenido durante la partida y que aún estén activas para intentar ganar en la recta final!</p>
	<p>Podeis ver los ganadores en la sección <a style="color:white;font-weight:bold" href="/info/premios">PREMIOS</a></P>
{% endblock %}

{% block presubmit %}

{% endblock %}
