{% extends 'layout.twig' %}

{% block content %}

 	<p style="margin-top: 90px;">Diseñado y desarrollado por</p>
 	<p style="margin:0px;font-size: 6em;">kiLLeR415</p>
 	<p>Como <a style="color:white;font-weight:bold;text-decoration:none" href="http://www.murcialanparty.com/mlp13/contenido/concursos?concurso=26">competición oficial</a> de la <a href="http://www.murcialanparty.com" style="color:white;font-weight:bold;text-decoration:none">MurciaLanParty 2013</a></p>
 	<p>Agradecimientos a <a style="color:white;font-weight:bold;text-decoration:none" href="http://tympanus.net/codrops/" target="_blank">Codrops</a> por el estilo de la web.</p>
 	<p>Tambien agradezco especialmente a los amigos que en lugar <br> de ayudarme a programar vitaminas, me daban ideas de vitaminas<br> para que las programe yo... </p>
 	<h1 style="margin:0px;font-size: 3em;">;)</h1>
 	<a target="_blank" href="https://github.com/guillermofr/vitaminados" class="btn btn-2 btn-2a">Source Code</a>

{% endblock %}