{% extends 'layout.twig' %}

{% block content %}

	
 	<h2>¿Cómo se juega a esto?</h2>

 	<p>Este juego trata de tener más puntos que nadie, el que tenga más puntos
 		cuando el tiempo termine ganará la partida</p>

 	<p>Para obtener puntos tendrémos que rellenar captchas de forma repetitiva y 
 		super aburrida xDD, pero hacer rachas de 10 seguidos tiene premio!!!</p>

 	<p>Cada racha de 10 seguidos sin fallar obtendreis poderosas vitaminas que 
 		podréis usar sobre vosotros o sobre los demás jugadores. Estas vitaminas 
 		pueden mejorar o empeorar las puntuaciones de los demás!</p>

 	<p>Cada racha de 50 tendréis super vitaminas!!! usarlas rápido que se inutilizan
 		con el tiempo</p>

 	<a href="/jugar" class="btn btn-2 btn-2a">Jugar!</a>


{% endblock %}