{% extends 'layout.twig' %}

{% block content %}


	<style>


.rank {
position: relative;
display: inline-block;
width: 169px;
padding: 11px;
margin: 2px 4px;
background: #CD4436;
padding-left: 30px;

}

.rank-rank {
position: absolute;
top: -7px;
left: 3px;
font-size: 34px;
color: #F95F5F;
}

.rank img {
float: left;
margin-top: 13px;
border-radius: 64px;
border: outset 6px #fefefe;
margin-left: 3px;
width: 100px;
height: 100px;
margin-bottom: 8px;
}

.rank .rank-nick {
font-size: 16px;
position: absolute;
bottom: 0px;
left: 0px;
border-bottom: 4px solid;
}

.rank .rank-puntos {
position: absolute;
top: 0px;
right: 0px;
padding: 0px 10px;
border-top: solid 4px #fefefe;
}

.rank .rank-racha {
position: absolute;
bottom: 24px;
background: #fefefe;
border-radius: 30px;
padding: 4px;
color: #444;
font-size: 12px;
left: 69px;
}


	</style>


	<script> 
	$(document).ready(function () {
		$('#ranking').load("/api/load_ganadores");
	});
	</script>


 	<h2>Premiados</h2>
 	<p>Ganadores actuales del concurso, cambiará según transcurra el juego.</p>
 	
 	<div id="ranking"></div>

 	<h2>Premios</h2>
 	<p>La organización Murcia Lan Party premiará a los dos primeros clasificados<br> con <span style="font-size:30px">40 euros</span> para el primero<br> y <span style="font-size:30px">20 euros</span> para el segundo.</p>
 	<p>Recordamos que los premiados serán los dos primeros participantes de la Murcia Lan Party<br> con mejores puntuaciones, los jugadores que no están inscritos<br> en la Murcia Lan Party no optan a premio.</p>
 	
 	

{% endblock %}