{% extends 'layout.twig' %}

{% block content %}


	<style>


.rank {
position: relative;
display: inline-block;
width: 169px;
padding: 11px;
margin: 2px 4px;
background: #CD4436;
padding-left: 30px;

}

.rank-rank {
position: absolute;
top: -7px;
left: 3px;
font-size: 34px;
color: #F95F5F;
}

.rank img {
float: left;
margin-top: 13px;
border-radius: 64px;
border: outset 6px #fefefe;
margin-left: 3px;
width: 100px;
height: 100px;
margin-bottom: 8px;
}

.rank .rank-nick {
font-size: 16px;
position: absolute;
bottom: 0px;
left: 0px;
border-bottom: 4px solid;
}

.rank .rank-puntos {
position: absolute;
top: 0px;
right: 0px;
padding: 0px 10px;
border-top: solid 4px #fefefe;
}

.rank .rank-racha {
position: absolute;
bottom: 24px;
background: #fefefe;
border-radius: 30px;
padding: 4px;
color: #444;
font-size: 12px;
left: 69px;
}


	</style>


	<script> 
	$(document).ready(function () {
		$('#ranking').load("/api/load_ganadores");

		setInterval(function(){
			$('#timer').load("/api/timer");
		},1000);
	});
	</script>


 	<h2>Premiados</h2>
 	
	<p>Ganadores actuales del concurso, cambiará según transcurra el juego.</p>
 	
 	<div id="ranking"></div>

 	<h2>Premios edicion oficial</h2>
 	<p>La organización Murcia Lan Party premiará a los dos primeros clasificados<br> con <span style="font-size:30px">40 euros</span> para el primero<br> y <span style="font-size:30px">20 euros</span> para el segundo.</p>
 	<p>Recordamos que los premiados serán los dos primeros participantes de la Murcia Lan Party<br> con mejores puntuaciones, los jugadores que no están inscritos<br> en la Murcia Lan Party no optan a premio.</p>



 	<h2>top 15 vitaminas lanzadas</h2>
	<ul style="display:inline-block;text-align:left">
		<li>1352 JuNo</li>
		<li>1167 Acher</li>
		<li>905	pyromano</li>
		<li>655	Pedroo_</li>
		<li>464	Gordtx</li>
		<li>303	gothichi</li>
		<li>280	WashyRules</li>
		<li>278	TOPOPARRA</li>
		<li>233	kruzw</li>
		<li>190	Nira</li>
		<li>175	Spammer</li>
		<li>152	Jaydl</li>
		<li>151	xio91</li>
		<li>132	Izaera</li>
		<li>129	Expectra</li>
	</ul>

<h2>Top 15 vitaminas recibidas</h2>

	<ul style="display:inline-block;text-align:left">
		<li>1203 Acher</li>
		<li>1080 JuNo</li>
		<li>841	pyromano</li>
		<li>581	Pedroo_</li>
		<li>488	gothichi</li>
		<li>465	Gordtx</li>
		<li>457	WashyRules</li>
		<li>305	TOPOPARRA</li>
		<li>233	Nira</li>
		<li>224	xio91</li>
		<li>197	kruzw</li>
		<li>175	Spammer</li>
		<li>164	Jaydl</li>
		<li>135	Isa_Risketo</li>
		<li>114	Izaera</li>
	</ul>




 	<h2>Agradecimientos por participar en la beta</h2>
 	<p>Tanto la organización de la MLP como yo personalmente agradezco la aportación<br> en la partida de pruebas pre-lanparty y el interés por jugar activamente a los siguientes participantes:</p>
 	<ul style="display:inline-block;text-align:left">
		<li>xakemi</li>
		<li>RayankLB</li>
		<li>Izaera</li>
		<li>Sherok</li>
		<li>DAVYQ</li>
		<li>xio91</li>
		<li>Inak</li>
		<li>SedueRey</li>
		<li>Aube</li>
		<li>KarakolRoncero</li>
		<li>Jaydl</li>
		<li>Seltener</li>
		<li>Sherwood</li>
		<li>Brooth3r</li>
		<li>Acher</li>
		<li>omanu3</li>
		<li>Vlari</li>
		<li>Nuoran</li>
		<li>Manu</li>
		<li>juanjolop</li>
		<li>BelNL</li>
		<li>byqyngo</li>
		<li>Pepeda</li>
 	</ul>

 	<p>y agradecer también al resto aunque hayan jugado muy poco</p>

 	<p>Samuman, Voral, BeRsErKeR, Etselec, Kiniela, arponero, Buffooooooooooooooooooooooos, SiRe,<br> juansoh, _GalForD_, Joseluisasdfg, Grayditch, Pequeña Padawan, Mese, Sbiky, Samuup, Sarevok,<br> Kiwaso, WaLL-bErT, peluchitos, Seju, xemitoide, frutitox, Hiwary, Gamin, nocrey, asdf, Rubreak,<br> Laidmon, TOPOPARRA, lol.pt4.xD, Mystoganz, Aleceia</p>


{% endblock %}