{% extends 'layout.twig' %}

{% block content %}


	<style>


.rank {
position: relative;
display: inline-block;
width: 169px;
padding: 11px;
margin: 2px 4px;
background: #CD4436;
padding-left: 30px;
}

.rank-rank {
position: absolute;
top: -7px;
left: 3px;
font-size: 34px;
color: #F95F5F;
}

.rank img {
float: left;
margin-top: 13px;
border-radius: 35px;
border: outset 7px #fefefe;
}

.rank .rank-nick {
float: left;
clear: left;
margin-top: 3px;
margin-bottom: -6px;
white-space: nowrap;
font-size: 13px;
}

.rank .rank-puntos {
position: absolute;
top: 0px;
white-space: nowrap;
right: 0px;
padding: 0px 10px;
border-top: solid 6px #fefefe;
}

.rank .rank-racha {
position: absolute;
bottom: 24px;
background: #fefefe;
border-radius: 30px;
padding: 4px;
color: #444;
font-size: 12px;
left: 69px;
}

.rank-logo {
border: 0px !important;
width: 30px;
position: absolute;
bottom: 2px;
left: 0px;
}

.rank.here {
	background: #9B3227;
}

.rank.here .rank-rank{
	color: #CD4436;
}

.rank.selected {
	background: #A1B412;
}
.rank.selected .rank-rank{
	color: #E5FF19;
}

.rank-img {
	width: 70px;
	height: 70px;
}

	</style>


	<script> 
	$(document).ready(function () {
		$('#ranking').load("/api/load_ranking/{{ user.user_id }}/{{selected}}");
		setInterval(function(){
			$('#ranking').load("/api/load_ranking/{{ user.user_id }}/{{selected}}")
		},10000);
	});
	</script>


 	<h2>Ranking</h2>
 	<div id="ranking"></div>
 	

{% endblock %}