{% extends 'layout.twig' %}

{% block content %}

 	<h2>Ranking</h2>

 	<ul>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>
 		<li>killer</li>

 	</ul>

{% endblock %}